@import "../Main.scss";

.legend {
    position: absolute;
    top: 15px;
    right: 15px;

    text-align: right;
    font-size: .6rem;
    padding-bottom: .9em;
}
.legend-icon {
    position: relative;
    top: .5em;
    width: 1.5em;
    height: 1.5em;
}
#graph {
    position: relative;
}
#tooltip {
    font-size: .7rem;
}
.dot-clickable {
    cursor: pointer;
}
