@import "../Main.scss";

#graph {
    max-width:875px;
}
.cell:hover {
    stroke: white;
    stroke-width: 1px;
}
.cell {
    fill: $green;
}
.legend-color {
    fill: url(#legend-gradient);
}
.legend-color-start {
    stop-color: $background;
}
.legend-color-end {
    stop-color: $green;
}